<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <!-- Online -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YOY | user-forgotpassword</title>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <!-- Offline -->
    <link rel="stylesheet" href="../../Utilities/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="../../Utilities/jQuery-1.x/jquery-1.11.3.min.js"></script>
    <script src="../../Utilities/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <style>
        .modal-header, h4, .close {
            background-color: rgb(220, 30, 40);
            color: white !important;
            font-size: 30px;
        }

        .col-sm-6 li {
            margin-top: 15px;
        }

        .modal-body .form-group {
            padding-top: 10px;
        }

        /*Group input border*/
        .clear-border {
            background: transparent;
            border: 0px;
            border-radius: 0;
            border-bottom: 1px solid rgb(156, 153, 153);
            box-shadow: 0px 0px 0px;
        }

        /*END Group input border*/
    </style>
</head>
<body>
<!-- Modal -->
<!--<div class="modal fade" id="myModal" role="dialog">-->
<!--cai co' dinh 50% do chua the show duoc tu` trang chu, khi xuat hien 2 modal cung luc-->
<div class="modal-dialog" style="width: 50%">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header"> <!-- style="padding:35px 50px;" -->
            <!--<button type="button" class="close" data-dismiss="modal" id="refreshDIV" onClick="history.go(0)">&times;</button>-->
            <!--nut button su dung chay rieng trang ko the dong'-->
            <!--http://getbootstrap.com/css/#buttons-->
            <a class="close" href="../homepage.html" role="button">&times;</a>
            <h4>Quên mật khẩu ?</h4>
        </div>

        <div class="modal-body" style="padding:50px 30px 0px 30px">
            <div class="row">
                <div class="col-sm-6"
                     style="margin-left: -10px; margin-top: -20px; border-right: 2px dashed rgb(246,245,245)">
                    <form role="form" onsubmit="SubmitResetpassword()">
                        <div class="form-group">
                            <input type="text" class="form-control clear-border" id="mobilenumber"
                                   placeholder="SỐ ĐIỆN THOẠI"
                                   required pattern="[0-9]{1,10}"
                                   title="SỐ ĐIỆN THOẠI: Vui lòng nhập số (tối đa 10 số)">
                        </div>
                        <button type="submit" class="btn btn-success btn-block" style="margin-top: 20px">Cài lại mật
                            khẩu
                        </button>
                    </form>
                </div>
                <div class="col-sm-6" style="font-size: small">
                    <p>
                        Chúng tôi sẽ gửi một mật khẩu tạm thời đến số điện thoại mà bạn cung cấp.
                        Bạn sẽ được yêu cầu đổi mật khẩu sau khi đăng nhập.
                    </p>
                    <!-- dung span: noi dung ko canh deu 2 ben -->
                </div>
            </div>

            <!--dat trong class="modal-body"-->
            <div style="text-align: right; margin-top: -50px; margin-right: -30px">
                <!-- neu show len modal thi` them ten thu* muc modal-user -->
                <img src="img_audio/stay-awesome.png"/>
                <!--khi mo? tren modal thi can viet day du: <img src="modal-user/img_audio/stay-awesome.png"/>-->
            </div>

        </div>
    </div>
</div>
<!--</div>-->
<script>
    var SubmitResetpassword = function () {
        alert('Đổi mật khẩu thành công');
        window.history.back();
    };
</script>

</body>
</html>
